<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='jquery-ui/js/jquery-1.10.2.js') }}"></script>

<script src="{{ url_for('static', filename='angular.js/angular-sanitize.min.js') }}"></script>
<script src="{{ url_for('static', filename='angular.js/angular-locale_ru-ru.js') }}"></script>

<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='angular.js/ui-bootstrap-tpls-0.10.0.min.js') }}"></script>

<script src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>
<script src="{{ url_for('static', filename='ckeditor/config.js') }}"></script>

<script src="{{ url_for('static', filename='select2/select2.js') }}"></script>
<script src="{{ url_for('static', filename='select2/select2_locale_ru.js') }}"></script>
