<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='jquery-ui/js/jquery-ui-1.10.4.custom.js') }}"></script>
<script src="{{ url_for('static', filename='jquery-ui/js/i18n/jquery.ui.datepicker-ru.js') }}"></script>

<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>

<script src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>
<script src="{{ url_for('static', filename='ckeditor/config.js') }}"></script>

<script src="{{ url_for('static', filename='select2/select2.js') }}"></script>
<script src="{{ url_for('static', filename='select2/select2_locale_ru.js') }}"></script>
