<meta charset="utf-8">
<title>РСО {% block title %}{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="РСО">
<link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" media="screen, print" rel="stylesheet">
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='select2/select2.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/select.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/select2-bootstrap.css') }}" rel="stylesheet">