<div class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <ul class="nav navbar-nav" id="cur_modules">
            <li>
                <div class="btn-group">
                    <a class="btn btn-sm btn-default navbar-btn" href="/" title="Главная страница"><span class="glyphicon glyphicon-home"></span></a>
                    {% for item in main_menu -%}
                        <a class="btn btn-sm btn-default navbar-btn{% if request.blueprint == item.module %} active{% endif %}" href="{{ url_for(item.module + '.index') }}" title="{{ item.name }}">{{ item.name }}</a>
                    {% endfor %}
                </div>
            </li>
        </ul>
        <ul class="nav navbar-nav pull-right">
            {% if current_user %}
            <li>
                <p class="navbar-text"><span class="glyphicon glyphicon-user"></span> {{ current_user.lastName }} {{ current_user.firstName }}</p>
            </li>
            {% endif %}
            <li>
                <div class="btn-group">
                    <a id="logout" class="btn btn-small btn-default navbar-btn" href="{{ url_for('logout') }}" title="Выйти"><span class="glyphicon glyphicon-log-out"></span></a>
                </div>
            </li>
        </ul>
    </div>
</div>