<!DOCTYPE html>
<html lang="ru">
    <head>
        {%- include '_header.html' -%}
        {%- block modules_css %}{% endblock -%}
    </head>
    <body>
    {% from "_macros.html" import render_pagination %}
    <div id="wrap">
        {% include '_top.html' %}
        <div id="container" class="container-fluid">
            {%- block content %}{% endblock -%}
        </div><!-- /#container -->
        <div id="push"></div>
    </div><!-- /#wrap -->
    {% include '_bottom.html' -%}
    {% include '_footer.html' with context -%}
    {%- block modules_js %}{% endblock -%}
    </body>
</html>