{% extends 'base.html' %}
{% block content %}
    <legend>{{ organisation.opf.name }} {{ organisation.name }}
        <small class="text-muted">(#{{ organisation.id }})</small>
        <div class="pull-right"><a href="{{ url_for('index') }}" class="btn"><span
                class=" glyphicon glyphicon-th-list"></span> Вернуться к списку</a></div>
    </legend>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab_general" data-toggle="tab">Общая информация</a></li>
        <li><a href="#id" data-toggle="tab">ИД</a></li>
        <li><a href="#pd" data-toggle="tab">ПД</a></li>
        <li><a href="#ksv" data-toggle="tab">КСВ</a></li>
        <li><a href="#kk" data-toggle="tab">КК</a></li>
        <li><a href="#dk" data-toggle="tab">ДК</a></li>
        <li><a href="#other" data-toggle="tab">Разное</a></li>
        <li class="pull-right">
            <button class="btn btn-sm btn-default" data-toggle="modal" data-target="#filterextendedModal"><span
                    class="glyphicon glyphicon-filter"></span> Найти похожие
            </button>
        </li>
    </ul>
    <br>
    <form class="form-horizontal">
        <div class="tab-content">
            <div class="tab-pane active" id="tab_general">
                {% include 'company/general_info.html' %}
            </div>
            <div class="tab-pane" id="id">
                {% include 'company/id.html' %}
            </div>
            <div class="tab-pane" id="pd">
                {% include 'company/pd.html' %}
            </div>
            <div class="tab-pane" id="ksv">
                {% include 'company/ksv.html' %}
            </div>
            <div class="tab-pane" id="kk">
                {% include 'company/kk.html' %}
            </div>
            <div class="tab-pane" id="dk">
                {% include 'company/dk.html' %}
            </div>
            <div class="tab-pane" id="other">
                {% include 'company/other.html' %}
            </div>
            <div class="col-md-10 text-right">
                <button type="button" class="btn btn-lg btn-success">Сохранить</button>
                <button type="button" class="btn btn-lg btn-default">Отмена</button>
            </div>
        </div>
    </form>
    {% include 'company/filter_modal.html' %}
{% endblock -%}
{%- block modules_js %}
    <script>
        $(function () {
            $(".datepicker").datepicker();
            $('input:text:not(.not-filter)').wrap('<div class="input-group"></div>');
            $('input:text:not(.not-filter)').before('<span class="input-group-btn"><button class="btn btn-default filter" type="button" title="Фильтровать"><span class="glyphicon glyphicon-filter"></span></button></span>');

//    $('textarea:not(.not-filter)').wrap('<div class="input-group"></div>');
        $('textarea:not(.not-filter)').before('<button class="btn btn-default filter" type="button" title="Фильтровать"><span class="glyphicon glyphicon-filter"></span></button>');
            $('button.filter').click(function () {
                $('#filterModal').modal('show');
            });
        });
    </script>
{% endblock -%}