{% extends 'base.html' %}
{% block content %}
<legend>
    <p>Организации <a class="btn btn-sm btn-success" href="edit.html" title="Добавить организацию"><span class="glyphicon glyphicon-plus"></span></a>
        <span class="pull-right">
            <a class="btn btn-sm btn-default" href="#" data-toggle="modal" data-target="#formModal" title="Форма КСВ"><span class="glyphicon glyphicon-th"></span> КСВ</a>
            <a class="btn btn-sm btn-default" href="#" data-toggle="modal" data-target="#formModal" title="Форма Члены"><span class="glyphicon glyphicon-th"></span> Члены</a>
            <a class="btn btn-sm btn-default" href="#" data-toggle="modal" data-target="#formModal" title="Форма Исключены"><span class="glyphicon glyphicon-th"></span> Исключены</a>
            <a class="btn btn-sm btn-default" href="#" data-toggle="modal" data-target="#formModal" title="Форма Меры"><span class="glyphicon glyphicon-th"></span> Меры</a>
        </span>
    </p>
</legend>
<div class="row">
    <div class="table-responsive col-md-12" id="orgs">
      <div class="well well-sm">
        <form class="form-inline" role="form" action="{{ url_for('index') }}" method="get">
            <div class="input-group">
                <input type="text" name="q" class="form-control" id="exampleInputPassword2" placeholder="Поиск по номеру, наименованию организации, ОГРН, ИНН"{% if request.args['q'] %} value="{{ request.args['q'] }}"{% endif %}>
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> Искать</button>
                </span>
            </div>
          </form>
          <div class="text-right" id="show_filters"><small class="glyphicon glyphicon-arrow-left"></small> <a href="#" class="btn-link" onclick="show_filters();"> Расширенные фильтры</a></div>
          <div class="text-right hide" id="hide_filters"><a href="#" class="btn-link" onclick="hide_filters();"> Скрыть фильтры</a> <small class="glyphicon glyphicon-arrow-right"></small></div>
      </div>
      {% if organisations %}
      <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th></th>
                <th>№</th>
                <th>НП</th>
                <th>РО</th>
                <th>Наименование</th>
                <th>ИНН</th>
                <th>ОГРН</th>
                <th>Руководитель</th>
{#                <th></th>#}
            </tr>
        </thead>
        <tbody>
            {% for organisation in organisations.items %}
            <tr>
                <td><a href="{{ url_for('edit', fnum=organisation.fnum) }}" title="Редактировать" class="btn btn-success btn-sm"><i class=" glyphicon glyphicon-pencil"></i></a></td>
                <td>{{ organisation.fnumorg }}</td>
                <td>{{ organisation.froall }}</td>
                <td>{{ organisation.froshortnametro }}</td>
                <td>{{ organisation.fopforg }} {{ organisation.fnamefull }}</td>
                <td>{{ organisation.finn }}</td>
                <td>{{ organisation.fogrn }}</td>
                <td id="780">{{ organisation.fgendir }}</td>
{#                <td><a href="#" title="Удалить организацию" data-toggle="modal" data-target="#delModal" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span></a></td>#}
            </tr>
            {% endfor %}
        </tbody>
      </table>
      {{ render_pagination(organisations, 'index', request.args) }}
      {% endif %}
    </div>
    <div class="col-md-3 hide" id="filters">
        <form>
            <div class="panel panel-default">
                <div class="panel-heading">Фильтры <button class="close" type="button" onclick="hide_filters();">×</button></div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <label>РО</label>
                          <div class="">
                              <label  class="checkbox-inline">
                                <input type="checkbox"> С
                              </label>
                              <label  class="checkbox-inline">
                                <input type="checkbox"> П
                              </label>
                              <label  class="checkbox-inline">
                                <input type="checkbox"> И
                              </label>
                              <label  class="checkbox-inline">
                                <input type="checkbox"> Э
                              </label>
                              <label  class="checkbox-inline">
                                <input type="checkbox"> Ж
                              </label>
                          </div>
                    </li>
                    <li class="list-group-item">
                        <label>Состояние в РО</label><br>
                        <select class="form-control input-sm">
                            <option>- не выбрано -</option>
                            <option>актив</option>
                            <option>приём</option>
                        </select>
                    </li>
                    <li class="list-group-item">
                        <label>ОПФ</label><br>
                        <select class="form-control input-sm">
                            <option>- не выбрано -</option>
                            <option>ООО</option>
                            <option>ЗАО</option>
                            <option>ОАО</option>
                        </select>
                    </li>
                    <li class="list-group-item">
                        <label>Свидетельство</label>
                        <input type="text" class="form-control input-sm" id="" placeholder="Номер">
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input type="text" class="form-control input-sm datepicker" placeholder="Начало">
                                    <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input type="text" class="form-control input-sm datepicker" placeholder="Выдан">
                                    <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                         <input type="text" class="form-control input-sm" placeholder="Адрес сайта"><br>
                         <input type="text" class="form-control input-sm" placeholder="Email">
                    </li>
                    <li class="list-group-item">
                         <label>Контакты</label>
                         <input type="text" class="form-control input-sm" placeholder="Контактное лицо"><br>
                         <input type="text" class="form-control input-sm" placeholder="Посредник">
                    </li>
                  </ul>
                <div class="panel-body">
                      <button type="submit" class="btn btn-primary btn-block">Фильтровать</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block modules_js %}
<script>
$(function() {
$( ".datepicker" ).datepicker();
});
function hide_filters(){
    $('#filters').addClass('hide');
    $('#orgs').addClass('col-md-12').removeClass('col-md-9');
    $('#hide_filters').addClass('hide');
    $('#show_filters').removeClass('hide');

}
function show_filters(){
    $('#filters').removeClass('hide');
    $('#orgs').addClass('col-md-9').removeClass('col-md-12');
    $('#hide_filters').removeClass('hide');
    $('#show_filters').addClass('hide');

}
</script>
{% endblock %}