<div class="row">
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading" id="received">Поступило в ДК</div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="exampleInputEmail1" class="col-sm-2 control-label">ПД</label>

                    <div class="col-md-2"><input type="text" class="form-control" value="" id="" placeholder="">
                    </div>
                    <label for="exampleInputEmail1" class="col-sm-2 control-label">КСВ</label>

                    <div class="col-md-2"><input type="text" class="form-control" value="" id="" placeholder="">
                    </div>
                    <label for="exampleInputEmail1" class="col-sm-2 control-label">КК</label>

                    <div class="col-md-2"><input type="text" class="form-control" value="" id="" placeholder="">
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" id="meeting">Заседание ДК</div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="exampleInputEmail1" class="col-sm-2 control-label">Дата</label>

                    <div class="col-md-3">
                        <div class="input-group">
                            <input type="text" class="form-control datepicker" placeholder="Дата">
                            <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                        </div>
                    </div>
                    <label for="exampleInputEmail1" class="col-sm-2 control-label">Дата (архив)</label>

                    <div class="col-md-3">
                        <div class="input-group">
                            <input type="text" class="form-control datepicker" placeholder="Дата">
                            <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" id="send__dk">Уведомление ДК</div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="exampleInputEmail1" class="col-sm-2 control-label">Номер</label>

                    <div class="col-md-6"><input type="text" class="form-control" value="" id=""
                                                 placeholder="Номер"></div>
                    <label for="exampleInputEmail1" class="col-sm-1 control-label">Дата</label>

                    <div class="col-md-3">
                        <div class="input-group">
                            <input type="text" class="form-control datepicker" placeholder="Дата">
                            <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1" class="col-sm-2 control-label">Состояние в ДК</label>

                    <div class="col-md-10"><input type="text" class="form-control" value="" id=""
                                                  placeholder="Состояние в ДК"></div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" id="protokol_dk">Протокол ДК</div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="exampleInputEmail1" class="col-sm-2 control-label">Номер</label>

                    <div class="col-md-6"><input type="text" class="form-control" value="" id=""
                                                 placeholder="Номер"></div>
                    <label for="exampleInputEmail1" class="col-sm-1 control-label">Дата</label>

                    <div class="col-md-3">
                        <div class="input-group">
                            <input type="text" class="form-control datepicker" placeholder="Дата">
                            <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" id="answer_kk">Решение ДК</div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="exampleInputEmail1" class="col-sm-2 control-label">Решение ДК</label>

                    <div class="col-md-10"><textarea class="form-control" rows="2"></textarea></div>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1" class="col-sm-2 control-label">Решение ДК (вручение)</label>

                    <div class="col-md-10"><textarea class="form-control" rows="2"></textarea></div>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1" class="col-sm-2 control-label">Комментарии</label>

                    <div class="col-md-10"><textarea class="form-control" rows="2"></textarea></div>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1" class="col-sm-2 control-label">Контроль</label>

                    <div class="col-md-3">
                        <div class="input-group">
                            <input type="text" class="form-control datepicker" placeholder="Дата">
                            <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" id="measure">Сведения о мерах</div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="exampleInputEmail1" class="col-sm-2 control-label">Сведения о мерах</label>

                    <div class="col-md-10"><textarea class="form-control" rows="2"></textarea></div>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1" class="col-sm-2 control-label">Сведения о мерах (дсп)</label>

                    <div class="col-md-10"><textarea class="form-control" rows="2"></textarea></div>
                </div>
            </div>
        </div>
        <p></p>
    </div>
    <div class="col-md-3">
        <div style="" class="bs-docs-sidebar hidden-print affix" data-spy="affix" data-offset-top="50"
             data-offset-bottom="100" role="complementary">
            <ul class="nav">
                <li><a href="#received">Поступило в ДК</a></li>
                <li><a href="#meeting">Заседание ДК</a></li>
                <li><a href="#send__dk">Уведомление ДК</a></li>
                <li><a href="#protokol_dk">Протокол ДК</a></li>
                <li><a href="#answer_kk">Решение ДК</a></li>
                <li><a href="#measure">Сведения о мерах</a></li>
            </ul>
            <a class="back-to-top" href="#top">
                Наверх
            </a>
        </div>
    </div>
</div>