<div class="row">
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading" id="check_period">Период проверки</div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="exampleInputEmail1" class="col-sm-2 control-label">Начало</label>

                    <div class="col-md-3">
                        <div class="input-group">
                            <input type="text" class="form-control datepicker" placeholder="Дата">
                            <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                        </div>
                    </div>
                    <label for="exampleInputEmail1" class="col-sm-2 control-label">Окончание</label>

                    <div class="col-md-3">
                        <div class="input-group">
                            <input type="text" class="form-control datepicker" placeholder="Дата">
                            <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1" class="col-sm-2 control-label">Проверка</label>

                    <div class="col-md-3">
                        <div class="input-group">
                            <input type="text" class="form-control datepicker" placeholder="Дата">
                            <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                        </div>
                    </div>
                    <label for="exampleInputEmail1" class="col-sm-2 control-label">Последняя проверка</label>

                    <div class="col-md-3">
                        <div class="input-group">
                            <input type="text" class="form-control datepicker" placeholder="Дата">
                            <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" id="send_kk">Уведомление КК</div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="exampleInputEmail1" class="col-sm-2 control-label">Дата отправки</label>

                    <div class="col-md-3">
                        <div class="input-group">
                            <input type="text" class="form-control datepicker" placeholder="Дата">
                            <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1" class="col-sm-2 control-label">Номер</label>

                    <div class="col-md-6"><input type="text" class="form-control" value="" id=""
                                                 placeholder="Номер"></div>
                    <label for="exampleInputEmail1" class="col-sm-1 control-label">Дата</label>

                    <div class="col-md-3">
                        <div class="input-group">
                            <input type="text" class="form-control datepicker" placeholder="Дата">
                            <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" id="act_kk">Акт КК</div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="exampleInputEmail1" class="col-sm-2 control-label">Дата отправки</label>

                    <div class="col-md-3">
                        <div class="input-group">
                            <input type="text" class="form-control datepicker" placeholder="Дата">
                            <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1" class="col-sm-2 control-label">Номер</label>

                    <div class="col-md-6"><input type="text" class="form-control" value="" id=""
                                                 placeholder="Номер"></div>
                    <label for="exampleInputEmail1" class="col-sm-1 control-label">Дата</label>

                    <div class="col-md-3">
                        <div class="input-group">
                            <input type="text" class="form-control datepicker" placeholder="Дата">
                            <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1" class="col-sm-2 control-label">Состояние в КК</label>

                    <div class="col-md-10"><input type="text" class="form-control" value="" id=""
                                                  placeholder="Состояние в КК"></div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" id="achtung_kk">Нарушения</div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="exampleInputEmail1" class="col-sm-2 control-label">Нарушения</label>

                    <div class="col-md-10"><textarea class="form-control" rows="2"></textarea></div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" id="check_res_kk">Результаты проверки</div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="exampleInputEmail1" class="col-sm-2 control-label">Результаты проверки</label>

                    <div class="col-md-10"><textarea class="form-control" rows="2"></textarea></div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" id="send_dk_kk">Передача в ДК</div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="exampleInputEmail1" class="col-sm-1 control-label">Дата</label>

                    <div class="col-md-3">
                        <div class="input-group">
                            <input type="text" class="form-control datepicker" placeholder="Дата">
                            <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                        </div>
                    </div>
                    <label for="exampleInputEmail1" class="col-sm-2 control-label">Рекомендации в ДК</label>

                    <div class="col-md-6"><textarea class="form-control" rows="2"></textarea></div>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1" class="col-sm-2 control-label">Комментарии</label>

                    <div class="col-md-10"><textarea class="form-control" rows="2"></textarea></div>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1" class="col-sm-2 control-label">Контроль</label>

                    <div class="col-md-3">
                        <div class="input-group">
                            <input type="text" class="form-control datepicker" placeholder="Дата">
                            <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1" class="col-sm-2 control-label">БО</label>

                    <div class="col-md-10"><textarea class="form-control" rows="2"></textarea></div>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1" class="col-sm-2 control-label">ОО</label>

                    <div class="col-md-10"><textarea class="form-control" rows="2"></textarea></div>
                </div>
            </div>
        </div>
        <p></p>
    </div>
    <div class="col-md-3">
        <div style="" class="bs-docs-sidebar hidden-print affix" data-spy="affix" data-offset-top="50"
             data-offset-bottom="100" role="complementary">
            <ul class="nav">
                <li><a href="#check_period">Период проверки</a></li>
                <li><a href="#send_kk">Уведомление КК</a></li>
                <li><a href="#act_kk">Акт КК</a></li>
                <li><a href="#achtung_kk">Нарушения</a></li>
                <li><a href="#check_res_kk">Результаты проверки</a></li>
                <li><a href="#send_dk_kk">Передача в ДК</a></li>
            </ul>
            <a class="back-to-top" href="#top">
                Наверх
            </a>
        </div>
    </div>
</div>