<div class="row">
<div class="col-md-10">
<div class="panel panel-default">
    <div class="panel-heading" id="4v">ЧВ</div>
    <div class="panel-body">
        <div class="form-group">
            <label for="exampleInputEmail1" class="col-sm-2 control-label">Период</label>
            <label for="exampleInputEmail1" class="col-sm-1 control-label">Начало</label>

            <div class="col-md-3">
                <div class="input-group">
                    <input type="text" class="form-control datepicker" placeholder="Дата">
                    <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                </div>
            </div>
            <label for="exampleInputEmail1" class="col-sm-2 control-label">Окончание</label>

            <div class="col-md-3">
                <div class="input-group">
                    <input type="text" class="form-control datepicker" placeholder="Дата">
                    <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1" class="col-sm-2 control-label">Счёт</label>

            <div class="col-md-6"><input type="text" class="form-control" value="" id="" placeholder="Номер счёта">
            </div>
            <label for="exampleInputEmail1" class="col-sm-1 control-label">Дата</label>

            <div class="col-md-3">
                <div class="input-group">
                    <input type="text" class="form-control datepicker" placeholder="Дата">
                    <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1" class="col-sm-2 control-label">П/П</label>

            <div class="col-md-6"><input type="text" class="form-control" value="" id="" placeholder="Номер П/П"></div>
            <label for="exampleInputEmail1" class="col-sm-1 control-label">Дата</label>

            <div class="col-md-3">
                <div class="input-group">
                    <input type="text" class="form-control datepicker" placeholder="Дата">
                    <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1" class="col-sm-2 control-label">Начислено</label>

            <div class="col-md-7"><input type="text" class="form-control" value="" id="" placeholder="Начислено"></div>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1" class="col-sm-2 control-label">Получено</label>

            <div class="col-md-7"><input type="text" class="form-control" value="" id="" placeholder="Получено"></div>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1" class="col-sm-2 control-label">Задолженность</label>

            <div class="col-md-7"><input type="text" class="form-control" value="" id="" placeholder="Задолженность">
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading" id="ensurance">Страхование</div>
    <div class="panel-body">
        <div class="form-group">
            <label for="exampleInputEmail1" class="col-sm-2 control-label">Страховая сумма</label>

            <div class="col-md-10"><input type="text" class="form-control" value="" id="" placeholder="Страховая сумма">
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1" class="col-sm-2 control-label">Страховщик</label>

            <div class="col-md-10"><input type="text" class="form-control" value="" id="" placeholder="Страховщик">
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1" class="col-sm-2 control-label">Договор страхования</label>

            <div class="col-md-6"><input type="text" class="form-control" value="" id=""
                                         placeholder="Номер договора страхования"></div>
            <label for="exampleInputEmail1" class="col-sm-1 control-label">Дата</label>

            <div class="col-md-3">
                <div class="input-group">
                    <input type="text" class="form-control datepicker" placeholder="Дата">
                    <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1" class="col-sm-2 control-label">Дополнительное соглашение</label>

            <div class="col-md-6"><input type="text" class="form-control" value="" id=""
                                         placeholder="Номер дополнительного соглашения"></div>
            <label for="exampleInputEmail1" class="col-sm-1 control-label">Дата</label>

            <div class="col-md-3">
                <div class="input-group">
                    <input type="text" class="form-control datepicker" placeholder="Дата">
                    <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1" class="col-sm-2 control-label">Полис страхования</label>

            <div class="col-md-6"><input type="text" class="form-control" value="" id=""
                                         placeholder="Номер полиса страхования"></div>
            <label for="exampleInputEmail1" class="col-sm-1 control-label">Дата</label>

            <div class="col-md-3">
                <div class="input-group">
                    <input type="text" class="form-control datepicker" placeholder="Дата">
                    <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1" class="col-sm-2 control-label">Дата подписания договора</label>

            <div class="col-md-3">
                <div class="input-group">
                    <input type="text" class="form-control datepicker" placeholder="Дата">
                    <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1" class="col-sm-2 control-label">Страховая премия (начислено)</label>

            <div class="col-md-10"><input type="text" class="form-control" value="" id=""
                                          placeholder="Страховая премия (начислено)"></div>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1" class="col-sm-2 control-label">Страховая премия (П/П №)</label>

            <div class="col-md-3"><input type="text" class="form-control" value="" id="" placeholder="П/П №"></div>
            <label for="exampleInputEmail1" class="col-sm-1 control-label">Дата</label>

            <div class="col-md-3">
                <div class="input-group">
                    <input type="text" class="form-control datepicker" placeholder="Дата">
                    <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                </div>
            </div>
            <label for="exampleInputEmail1" class="col-sm-2 control-label">Дата оплаты</label>

            <div class="col-md-3">
                <div class="input-group">
                    <input type="text" class="form-control datepicker" placeholder="Дата оплаты">
                    <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1" class="col-sm-2 control-label">Период страхования</label>
            <label for="exampleInputEmail1" class="col-sm-1 control-label">Начало</label>

            <div class="col-md-3">
                <div class="input-group">
                    <input type="text" class="form-control datepicker" placeholder="Дата">
                    <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                </div>
            </div>
            <label for="exampleInputEmail1" class="col-sm-2 control-label">Окончание</label>

            <div class="col-md-3">
                <div class="input-group">
                    <input type="text" class="form-control datepicker" placeholder="Дата">
                    <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1" class="col-sm-2 control-label">Состояние в страховании</label>

            <div class="col-md-10"><input type="text" class="form-control" value="" id=""
                                          placeholder="Состояние в страховании"></div>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1" class="col-sm-2 control-label">Действия</label>

            <div class="col-md-10"><textarea class="form-control" rows="2"></textarea></div>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1" class="col-sm-2 control-label">Комментарии</label>

            <div class="col-md-10"><textarea class="form-control" rows="2"></textarea></div>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1" class="col-sm-2 control-label">Контроль</label>

            <div class="col-md-3">
                <div class="input-group">
                    <input type="text" class="form-control datepicker" placeholder="Дата">
                    <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading" id="send_ksv">Уведомление КСВ</div>
    <div class="panel-body">
        <div class="form-group">
            <label for="exampleInputEmail1" class="col-sm-2 control-label">Номер</label>

            <div class="col-md-6"><input type="text" class="form-control" value="" id="" placeholder="Номер"></div>
            <label for="exampleInputEmail1" class="col-sm-1 control-label">Дата</label>

            <div class="col-md-3">
                <div class="input-group">
                    <input type="text" class="form-control datepicker" placeholder="Дата">
                    <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1" class="col-sm-2 control-label">Состояние в КСВ</label>

            <div class="col-md-10"><input type="text" class="form-control" value="" id="" placeholder="Состояние в КСВ">
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading" id="achtung_ksv">Нарушения</div>
    <div class="panel-body">
        <div class="form-group">
            <label for="exampleInputEmail1" class="col-sm-2 control-label">Нарушения</label>

            <div class="col-md-10"><textarea class="form-control" rows="2"></textarea></div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading" id="check_res_ksv">Результаты проверки</div>
    <div class="panel-body">
        <div class="form-group">
            <label for="exampleInputEmail1" class="col-sm-2 control-label">Результаты проверки</label>

            <div class="col-md-10"><textarea class="form-control" rows="2"></textarea></div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading" id="send_dk_ksv">Передача в ДК</div>
    <div class="panel-body">
        <div class="form-group">
            <label for="exampleInputEmail1" class="col-sm-1 control-label">Дата</label>

            <div class="col-md-3">
                <div class="input-group">
                    <input type="text" class="form-control datepicker" placeholder="Дата">
                    <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                </div>
            </div>
            <label for="exampleInputEmail1" class="col-sm-2 control-label">Рекомендации в ДК</label>

            <div class="col-md-6"><textarea class="form-control" rows="2"></textarea></div>
        </div>
    </div>
</div>
<p></p>
</div>


<div class="col-md-2">
    <div style="" class="bs-docs-sidebar hidden-print affix" data-spy="affix" data-offset-top="50"
         data-offset-bottom="100" role="complementary">
        <ul class="nav">
            <li><a href="#4v">ЧВ</a></li>
            <li><a href="#ensurance">Страхование</a></li>
            <li><a href="#send_ksv">Уведомление КСВ</a></li>
            <li><a href="#achtung_ksv">Нарушения</a></li>
            <li><a href="#check_res_ksv">Результаты проверки</a></li>
            <li><a href="#send_dk_ksv">Передача в ДК</a></li>
        </ul>
        <a class="back-to-top" href="#top">
            Наверх
        </a>
    </div>
</div>
</div>