<div class="row">
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <label for="exampleInputEmail1" class="col-sm-2 control-label">Комментарии</label>

                    <div class="col-md-10"><textarea class="form-control" rows="2"></textarea></div>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1" class="col-sm-2 control-label">Контроль</label>

                    <div class="col-md-3">
                        <div class="input-group">
                            <input type="text" class="form-control datepicker" placeholder="Дата">
                            <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1" class="col-sm-2 control-label">Вопросы</label>

                    <div class="col-md-10"><textarea class="form-control" rows="2"></textarea></div>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1" class="col-sm-2 control-label">Модернизация</label>

                    <div class="col-md-10"><textarea class="form-control" rows="2"></textarea></div>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1" class="col-sm-2 control-label">Резерв</label>

                    <div class="col-md-10"><textarea class="form-control" rows="2"></textarea></div>
                </div>
            </div>
        </div>
        <p></p>
    </div>


    <div class="col-md-3">
        <div style="" class="bs-docs-sidebar hidden-print affix" data-spy="affix" data-offset-top="50"
             data-offset-bottom="100" role="complementary">
            <a class="back-to-top" href="#top">
                Наверх
            </a>
        </div>
    </div>
</div>