{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-2">
        {% include 'sample/_nav_menu.html' %}
        </div>
        <div class="col-md-10">
            {% block main %}
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block modules_css %}

{{ super() }}

<link href="{{ url_for('.static', filename='css/style.css') }}" media="screen" rel="stylesheet">
<link href="{{ url_for('.static', filename='css/print.css') }}" media="print" rel="stylesheet">
{% endblock %}